@font-face {
  font-family: 'Lato';
  src: url('~@/assets/fonts/Lato/Lato-Regular.eot');
  src: local('Lato Regular'), local('Lato-Regular'),
      url('~@/assets/fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
      url('~@/assets/fonts/Lato/Lato-Regular.woff') format('woff'),
      url('~@/assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('~@/assets/fonts/Lato/Lato-Medium.eot');
  src: local('Lato Medium'), local('Lato-Medium'),
      url('~@/assets/fonts/Lato/Lato-Medium.eot?#iefix') format('embedded-opentype'),
      url('~@/assets/fonts/Lato/Lato-Medium.woff') format('woff'),
      url('~@/assets/fonts/Lato/Lato-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('~@/assets/fonts/Lato/Lato-Bold.eot');
  src: local('Lato Bold'), local('Lato-Bold'),
      url('~@/assets/fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
      url('~@/assets/fonts/Lato/Lato-Bold.woff') format('woff'),
      url('~@/assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
